@charset "ISO-8859-1";

.clear{
    clear: both;
}

.principal{
    float: left;
    width: 50%;
    margin-top: 30px;
}

.caminho{
    margin-top: 40px;
    margin-bottom: 40px;
}

td{
    padding-top: 10px;
}

.itens{
    float: right;
    background-color: #fafafa;
    min-height: 100vh;
    width: 50%;
    border-left: 1px solid #e6e6e6;
}


.nome{
    font-size: 16px;
    color: black;
}

strong.nome:hover{
    text-decoration:none;
}

.Pagamento{
    border:1px solid #E6E6E6;
    border-radius:10px;
    padding:10px;
}

.CartaoS{
    font-size:20px;

}

.BoletoS{
    font-size:20px;
}

.Cartao{
    display: inline-block;
}
.transf{
    display: inline-block;
    margin-left:90px;
}
.contato{
    font-size: 18px;
    font-weight:bold;
    color: black;

}
.texto-contato{
    font-size: 16px;
    color: black;
}

.prod{
    display: block;
    margin-top: 20px;
    padding-right: 18px;
    padding-left: 18px;
}

.imgProduto{
    width: 100px;
    height: 100px;
}

.puxar{
    float: left;
}

label{
    float: left;
}

.preco{
    float: right;
    color: #323232;
    font-weight: bold;
}

.valor{
    float: right;
    color: #323232;
}

.separacao{
    display: block;
    padding-left: 18px;
    padding-right: 18px;
}

.divBtn{
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 120px;
}

.pagto{
    float: right;
    font-size: 15px;
}

.voltar{
    float: left;
    margin-top: 8px;
}

.imgLogo{
    heigth: 40px;
    width: 250px;
}


a.voltar{
    text-decoration: none;
}

a.linkHead{
    color:black;
}

a.linkHead:hover{
    text-decoration: none;
    color: rgb(175, 175, 175);
}

.vlrqtd{
    margin-top: 37px;
}

select{
    display: inline-block;

}

.TituloTrf{
    font-size:22px;
    font-weight:bold;
    text-align: center;
}

.ContainerTransf{
    text-align:left;


}

.Inf{
    font-size:19px;
    font-weight:bold;

}

.cpfC{
    font-size:19px;
    font-weight:bold;
}

.vlrtrsf{
	float: left;
	font-weight: normal;
	font-size: 20px;
}
