@charset "ISO-8859-1";

.botao{
    margin-left: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    background-color: black;
    color: white;
    font-weigth: bold;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    transition: 1s all;

}
.botao:hover{
    transform: scale(1.2);
    background-color: Crimson;
}

.btndefault {
	color: black;	
}

.cadastroletraLogin {
    margin-bottom: 212px;
}