@charset "ISO-8859-1";


.TituloApple{
	font-size: 32px;
	margin-left: -40px;
	margin-top: 30px;
}

.TopoApple{
	margin-left: -40px;
	font-size: 12px;	
}

.containerApple{
	margin-top: 50px;
	margin-left: 25px;
}

.ContainerProdutos {
	padding-top: 20px;
	height: 250px;
	width: 190px;
	display: inline-block;
	margin-right: 70px;
	margin-bottom: 80px;
	cursor: pointer;
	text-align: center;
}

.spanValor{
	text-align: center;
	font-size: 12px;
	color: black;
	font-weight: bold;
}

.ContainerProdutos:hover {
	cursor: pointer;
	opacity: 0.8;
}

.ContainerProdutos span{
	display: inline-block;
	text-align: center;
	color: black;
	font-weight: bold;
}


.ContainerProdutos a:link{
	text-decoration:none;
}


